
<!--  -->
<!-- 상단바 중복코드 -->
<nav class="navbar navbar-fixed-top header">
    <div class="col-md-12">
        <div class="navbar-header">

            <a href=/ class="navbar-brand">wook</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse1">
                <i class="glyphicon glyphicon-search"></i>
            </button>

        </div>
        
        <div class="collapse navbar-collapse" id="navbar-collapse1">
            <form class="navbar-form pull-left" action="/">
                <div class="input-group" style="max-width:470px;">
                    <input type="text" class="form-control" placeholder="Search" name="keyword" id="keyword">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-primary" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
            
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                    
                </li>
               
            </ul>
        </div>
    </div>
</nav>
<div class="navbar navbar-default" id="subnav">
    <div class="col-md-12">
       
        <div class="collapse navbar-collapse" id="navbar-collapse2">
            <ul class="nav navbar-nav navbar-right">
              
              	    {{^suser}}
					<li><a href="/users/loginForm" role="button">로그인</a></li>
					<li><a href="/users/form" role="button">회원가입</a></li> 
					{{/suser}}

					{{#suser}}
					<li class="active"><a href="index.html">{{userId}}</a></li>
					<li><a href="/users/logout" role="button">로그아웃</a></li>
					<li><a href="/users/{{id}}/privacy" role="button">개인정보수정</a></li>
					{{/suser}}
               
            </ul>
        </div>
    </div>
</div>


